@model IEnumerable<SAMS.Models.CounselorModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CounselorFirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorMiddleName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorPreferredName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CounselorPhone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorFirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorMiddleName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorLastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorPreferredName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CounselorPhone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CounselorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CounselorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CounselorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
