@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@

<style>

    .schedule-card {
        border: 2px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 25px;
        margin: 16px;
        max-width: 400px;
        float: right;
        width: 350px;
        clear: right;
    }

    .card h3 {
        margin: 16px 0 8px;
    }

    .card {
        border: 2px solid #ccc;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 16px;
        margin: 16px;
        max-width: 300px;
    }

    #qrcode {
        width: 160px;
        height: 240px;
        margin-top: 15px;
    }

</style>

    <script type="text/javascript" src="~/davidshimjs-qrcodejs-04f46c6/davidshimjs-qrcodejs-04f46c6/qrcode.min.js"></script>
<body>

    <div class="schedule-card">
        <div class="card-header">
            <h3>Schedule</h3>
        </div>

        @foreach (var item in ViewBag.Schedule)
        {
            <div class="card">
                <p>@item[0]</p>
                <p>Start time: @item[1]</p>
                <p>End Time: @item[2]</p>
            </div>
        }

    </div>

    <div class="card" style="width: 20rem; border-radius:35px;">
        <div class="card-body">
            <h5 class="card-title">Scan QR Code to Sign in</h5>
            <div id="qrcode"></div>
        </div>
    </div>
    <script>

        new QRCode(document.getElementById("qrcode"), {
            text: "@ViewBag.Code",
            width: 225,
            height: 225,
            colorDark: "#000000",
            colorLight: "#ffffff",
            correctLevel: QRCode.CorrectLevel.H
        });

    </script>

    <br />

    <h3>
        Bells
    </h3>

    <br />

    <table class="table-borderless justify-content-start">
        <tr class="row">
            @for (int i = 0; i < ViewBag.Bells.Count; i++)
            {
                <td class="col">
                    <div class="card" style="width: 14rem; border-radius:35px;">
                        <a class="btn" asp-area="Teacher" asp-controller="TeacherRoster" asp-action="Roster" asp-route-bell="@ViewBag.Bells[i]">
                            <img src="/images/ScanQRCode.png" class="card-img-top" alt="Bell @ViewBag.Bells[i]" style="border-radius:35px;">
                            <div class="card-body">
                                @if (ViewBag.Bells[i] == "Aves")
                                {
                                    <h5 class="card-title">Aves Bell Attendance</h5>
                                }
                                else
                                {
                                    <h5 class="card-title">Bell @ViewBag.Bells[i] Attendance</h5>
                                }
                            </div>
                        </a>
                    </div>
                </td>
            }
        </tr>
        <tr class="row">
            <td class="col">
                <h3>
                    <br />
                    &nbsp
                    Tools
                    <br />
                    &nbsp

                </h3>
                <div class="card" style="width: 14rem; border-radius:35px;">
                    <a class="btn" asp-area="" asp-controller="StudentInfoSearch" asp-action="Index">
                        <img src="/images/ScanQRCode.png" class="card-img-top" style="border-radius:35px;">
                        <div class="card-body">
                            <h5 class="card-title">Student Info Search</h5>
                        </div>
                    </a>
                </div>
            </td>
            <td class="col">
                <h3>
                    <br />
                    &nbsp
                    &nbsp
                    <br />
                    &nbsp

                </h3>
                <div class="card" style="width: 14rem; border-radius:35px;">
                    <a class="btn" asp-area="Admin" asp-controller="AccountManager" asp-action="Index">
                        <img src="/images/ScanQRCode.png" class="card-img-top" style="border-radius:35px;">
                        <div class="card-body">
                            <h5 class="card-title">Account Management</h5>
                        </div>
                    </a>
                </div>
            </td>
            <td class="col">
                <h3>
                    <br />
                    &nbsp
                    &nbsp
                    <br />
                    &nbsp
                </h3>
                <div class="card" style="width: 14rem; border-radius:35px;">
                    <a class="btn" asp-area="" asp-controller="StudentInfoSearch" asp-action="Index">
                        <img src="/images/ScanQRCode.png" class="card-img-top" style="border-radius:35px;">
                        <div class="card-body">
                            <h5 class="card-title">Case Management</h5>
                        </div>
                    </a>
                </div>
            </td>
        </tr>
    </table>
</body>

