@model SAMS.Models.PassRequestInfoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>PassRequestInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BellNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BellNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndLocation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndLocation)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByAdmin.AdminID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByAdmin)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByAdmin.AdminID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByNurse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByNurse.NurseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByNurse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByNurse.NurseID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByTeacher.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByTeacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByTeacher.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByLawEnf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByLawEnf.LawenfID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByLawEnf)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByLawEnf.LawenfID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByAttendanceOfficeMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByAttendanceOfficeMember.AoMemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByAttendanceOfficeMember)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByAttendanceOfficeMember.AoMemberID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedByCounselor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedByCounselor.CounselorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AddressedByCounselor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AddressedByCounselor.CounselorId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="PassRequestId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
