@model IEnumerable<SAMS.Models.PassRequestInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDateTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BellNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndLocation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequestStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByAdmin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByNurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByNurse)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByTeacher)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByLawEnf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByLawEnf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByAttendanceOfficeMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByAttendanceOfficeMember)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedByCounselor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AddressedByCounselor)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDateTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BellNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndLocation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequestStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.StudentID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByAdmin.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByAdmin.AdminID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByNurse.NurseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByNurse.NurseID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByTeacher.TeacherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByTeacher.TeacherID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByLawEnf.LawenfID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByLawEnf.LawenfID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByAttendanceOfficeMember.AoMemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByAttendanceOfficeMember.AoMemberID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedByCounselor.CounselorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressedByCounselor.CounselorId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PassRequestId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PassRequestId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PassRequestId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
