@model IEnumerable<SAMS.Models.DeveloperInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperFirstNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperMiddleNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperLastNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperPreferredNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeveloperEmailMod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperFirstNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperMiddleNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperLastNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperPreferredNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeveloperEmailMod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DeveloperID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DeveloperID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DeveloperID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
