@model SAMS.Models.TeacherInfoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TeacherInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFirstNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherFirstNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherMiddleNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherMiddleNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherLastNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherLastNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPreferredNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherPreferredNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherEmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherEmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPhoneMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherPhoneMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teaches5Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teaches5Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="TeacherID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
