@model SAMS.Models.TeacherInfoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TeacherInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherFirstNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherFirstNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherMiddleNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherMiddleNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherLastNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherLastNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPreferredNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherPreferredNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherEmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherEmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeacherPhoneMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeacherPhoneMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teaches5Days)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teaches5Days)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TeachingScheduleID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TeachingScheduleID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.TeacherID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
