@model SAMS.Models.FastPassModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FastPassModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDateTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDateTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BellNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BellNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartLocationID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartLocationID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Student.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumberMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sem1StudSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sem1StudSchedule.StudentID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sem2StudSchedule)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sem2StudSchedule.StudentID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.FastPassIDMod">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
