@model SAMS.Models.AttendanceOfficeMemberModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AttendanceOfficeMemberModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberFirstNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberFirstNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberMiddleNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberMiddleNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberLastNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberLastNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberPreferredNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberPreferredNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberEmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberEmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AoMemberPhoneMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AoMemberPhoneMod)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AoMemberID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
