@model IEnumerable<SAMS.Models.AttendanceOfficeMemberModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberFirstNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberMiddleNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberLastNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberPreferredNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberEmailMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AoMemberPhoneMod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberFirstNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberMiddleNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberLastNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberPreferredNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberEmailMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AoMemberPhoneMod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AoMemberID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AoMemberID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AoMemberID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
