@model IEnumerable<SAMS.Models.NurseInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NurseFirstNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseMiddleNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseLastNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NursePreferredNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NurseEmailMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NursePhoneMod)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NurseFirstNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseMiddleNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseLastNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NursePreferredNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NurseEmailMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NursePhoneMod)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NurseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NurseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NurseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
