@model IEnumerable<SAMS.Areas.Teacher.Controllers.OutputModel>

@{
    ViewData["Title"] = "Roster";
}

<h1>@ViewBag.Title</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.studentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentFirstAndLastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.studentEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DailyAttStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BellAttStatus)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.studentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentFirstAndLastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.studentEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItme => item.DailyAttStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItme => item.BellAttStatus)
                </td>

            </tr>
        }
    </tbody>
</table>