@model SAMS.Models.StudentInfoModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StudentInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentFirstNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentFirstNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentMiddleNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentMiddleNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentLastNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentLastNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPreferredNameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPreferredNameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentEmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentEmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentPhoneMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentPhoneMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StudentGradYearMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StudentGradYearMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HasEASupport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HasEASupport)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentguard1NameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentguard1NameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentguard1EmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentguard1EmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentguard2NameMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentguard2NameMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Parentguard2EmailMod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Parentguard2EmailMod)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Counselor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Counselor.CounselorId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AssignedEASuport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AssignedEASuport.EaID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActivationCodes)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActivationCodes.StudId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.StudentID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
