@model IEnumerable<SAMS.Models.StudentInfoModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StudentFirstNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentMiddleNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentLastNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPreferredNameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentEmailMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentPhoneMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentGradYearMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HasEASupport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentguard1NameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentguard1EmailMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentguard2NameMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Parentguard2EmailMod)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Counselor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AssignedEASuport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActivationCodes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StudentFirstNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentMiddleNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentLastNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPreferredNameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentEmailMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentPhoneMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StudentGradYearMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HasEASupport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parentguard1NameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parentguard1EmailMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parentguard2NameMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parentguard2EmailMod)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Counselor.CounselorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AssignedEASuport.EaID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActivationCodes.CodeId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.StudentID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.StudentID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.StudentID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
