@using static SAMS.Areas.Admin.Controllers.AccountManagerController;
@model detailsClass
@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Account Manager</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.schoolid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.schoolid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.role)
        </dt>
        <dd class="col-sm-10">
            @foreach (var role in Model.role.ToList())
            {
                @Html.Raw(role)
                <br />
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.activation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.activation)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.dbid">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>