@model SAMS.Models.ActiveCourseInfoModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>ActiveCourseInfoModel</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLevel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseLevel)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseBellNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseBellNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CourseTaughtDays)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CourseTaughtDays)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DailyAttChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DailyAttChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.B2BAttChecked)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.B2BAttChecked)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Teacher)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Teacher.TeacherID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Room)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumberMod)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="CourseId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
